<div class="hero">
  <div class="hero-content">
    <h1>☕ Coffee Shop</h1>
    <p>Fresh coffee. Warm moments.</p>

    <a routerLink="/menu" class="explore-btn">
      Explore Menu
    </a>
  </div>
</div>

<section class="products-section">
  <h2>Popular Drinks</h2>

  <!-- ERROR -->
  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <!-- PRODUCTS -->
  <div class="products">
    <div *ngFor="let product of products()" class="product-card">

      <img
        [src]="product.image"
        [alt]="product.name"
        referrerpolicy="no-referrer"
      >

      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p class="description">{{ product.description }}</p>
        <p class="price">{{ product.price }} KZT</p>
      </div>

    </div>
  </div>

  <div class="center">
    <a routerLink="/menu" class="view-all-btn">
      View Full Menu
    </a>
  </div>
</section>