/* body style */
body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

/* heading */
h1 {
    color: blue;
}

/* image */
img {
    width: 200px;
    display: block;
    margin: 10px 0;
}

/* box */
.box {
    border: 2px solid blue;
    padding: 10px;
    margin: 10px 0;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

/* form */
input {
    display: block;
    margin: 5px 0;
    padding: 5px;
}
