body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
}
p {
    border: 2px solid green;
    /*outside-border*/
    margin: 2px;
}
table, th, td {
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #96D4D4;
}
table, th, td {
    border: 1px solid black;
    border-radius: 10px;
}
th, td {
    border: 1px solid black;
    border-radius: 10px;
}
th, td {
    border-style: dotted;
}
th, td {
    border-color: #96D4D4;
}
tr:nth-child(even) {
     background-color: #D6EEEE;
 }
tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
tr:hover {background-color: #D6EEEE;}
li : {
    list-style-type: circle;
}
<style>
 div {
     width:300px;
     margin:auto;
 }
</style>
<style>
 .mycontainer {
     width:100%;
     overflow:auto;
 }
.mycontainer div {
    width:33%;
    float:left;
}
</style>
<style>
 .mycontainer {
     display: flex;
 }
.mycontainer > div {
    width:33%;
}
</style>

<style>
 .grid-container {
     display: grid;
     grid-template-columns: 33% 33% 33%;
 }
</style>
<style>
 .city {
     background-color: tomato;
     color: white;
     border: 2px solid black;
     margin: 20px;
     padding: 20px;
 }
</style>