<h2>☕ Coffee Menu</h2>

@if (isLoading) {
  <p class="info">Loading menu...</p>
}

@if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
}

@if (!isLoading && products.length === 0) {
  <p class="info">No products found</p>
}

<div class="products">
  @for (product of products; track product.id) {
    <div class="product-card">
      <img
        [src]="product.image"
        [alt]="product.name"
        referrerpolicy="no-referrer"
      >

      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p class="description">{{ product.description }}</p>

        <div class="bottom">
          <span class="price">{{ product.price }} KZT</span>
          <button (click)="addToCart(product)">Add</button>
        </div>
      </div>
    </div>
  }
</div>

@if (showToast) {
  <div class="toast">
    {{ message }}
  </div>
}