#greeting {
    background: rgb(255, 255, 0);
    border: 2px solid black;
    font-family: "Comic Sans MS", fantasy;
    padding: 5px;
    width: 262px;
    position: absolute;
    top: 77px;
    left: 12px;
    z-index: 2;
}

#creature {
    position: absolute;
    top: 55px;
    left: 33px;
    z-index: 1;
}
